<section class="info-page">
  <h1>Política de Privacidad</h1>
  <p>Tu privacidad es importante para nosotros. Lee nuestra política de privacidad para más detalles.</p>
  
  <h2>Qué Información Recopilamos</h2>
  <p>Recopilamos información personal, como tu nombre, dirección de correo electrónico y detalles de pago, solo cuando es necesario para procesar tu pedido o para ofrecerte un mejor servicio.</p>

  <h2>Cómo Usamos Tu Información</h2>
  <p>Utilizamos tu información para procesar tus pagos, mejorar nuestros servicios y comunicarnos contigo sobre actualizaciones o promociones relevantes.</p>

  <h2>Protección de Datos</h2>
  <p>Implementamos medidas de seguridad avanzadas para proteger tu información personal de accesos no autorizados, alteraciones o divulgación.</p>

  <h2>Compartir Información con Terceros</h2>
  <p>No compartimos tu información personal con terceros, excepto cuando sea necesario para cumplir con la ley o para procesar pagos de forma segura.</p>

  <h2>Cookies</h2>
  <p>Utilizamos cookies para mejorar la experiencia de navegación y personalizar tu experiencia en nuestro sitio web. Puedes configurar tu navegador para rechazar cookies, pero algunas funcionalidades podrían no estar disponibles.</p>
</section>
