:root {
  --primary-color: #d3435b;
  --secondary-color: #721652;
  --footer-bg-color: #420054;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fafc;
}

.register-container,
aside {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.bg-footer-bg-color {
  background-color: var(--footer-bg-color);
}
