<div class="min-h-screen flex flex-col font-roboto bg-gray-100">
  <!-- Main Content -->
  <div class="container mx-auto px-4 py-6 flex-1">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Sidebar -->
      <aside class="bg-white shadow-md rounded-lg p-4">
        <div class="flex items-center space-x-6">
          <!--[src]="userData?.profilePictureUrl || '/assets/images/default-profile.jpg'"-->
          <img
            [src]="'/assets/images/default-profile.jpg'"
            class="h-40 w-40 rounded-full"
            alt="Foto de perfil del freelancer"
          />
          <div>
            <h2 class="text-xl font-bold text-primary-color">
              {{ userData?.username || 'Cargando...' }}
            </h2>
            <p class="text-secondary-color email-text">
              {{ userData?.email || 'Correo no disponible' }}
            </p>
            <p class="text-secondary-color">
              Teléfono: {{ userData?.phoneNumber || 'No disponible' }}
            </p>
          </div>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-semibold text-primary-color">Estadísticas</h3>
          <div class="mt-4 space-y-2">
            <div class="flex justify-between items-center">
              <span class="text-secondary-color">Productos Publicados</span>
              <span class="text-primary-color font-bold">
                {{ userData?.products?.length || 0 }}
              </span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-secondary-color">Wallet</span>
              <span class="text-primary-color font-bold">${{ userData?.wallet || 0 }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-secondary-color">Estado</span>
              <span class="text-primary-color font-bold">
                {{ userData?.isActive ? 'Activo' : 'Inactivo' }}
              </span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-secondary-color">Miembro desde</span>
              <span class="text-primary-color font-bold">{{ userData?.createdAt | date: 'medium' }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-secondary-color">Última actualización</span>
              <span class="text-primary-color font-bold">{{ userData?.updatedAt | date: 'medium' }}</span>
            </div>
          </div>
        </div>
      </aside>

      <!-- Main Dashboard -->
      <main class="col-span-2">
        <!-- Productos Publicados -->
        <section class="bg-white shadow-md rounded-lg p-4 mb-6">
          <h2 class="text-xl font-bold text-primary-color">Productos Publicados</h2>
          <div class="mt-4 space-y-4">
            <div
              *ngFor="let product of userData?.products"
              class="bg-gray-50 p-4 rounded-lg flex flex-col md:flex-row md:justify-between items-start md:items-center"
            >
              <div class="flex items-start space-x-4">
                <img
                  [src]="product.fileUrl || '/assets/images/default-profile.jpg'"
                  class="h-24 w-24 rounded-md object-cover"
                  alt="Imagen del producto"
                />
                <div>
                  <h3 class="text-lg font-semibold text-primary-color">
                    {{ product.name }}
                  </h3>
                  <p class="text-secondary-color">{{ product.description }}</p>
                  <p class="text-secondary-color">Categoría: {{ product.category }}</p>
                  <p class="text-secondary-color">
                    Etiquetas:
                    <span *ngFor="let tag of product.tags; let i = index">
                      {{ tag }}<span *ngIf="i < (product.tags.length - 1)">,</span>
                    </span>
                  </p>
                  <p class="text-secondary-color">
                    Publicado:
                    {{ product.createdAt | date: 'medium' }}
                  </p>
                </div>
              </div>
              <span class="text-primary-color font-bold text-lg mt-4 md:mt-0">
                ${{ product.price.toFixed(2) }}
              </span>
              <a [routerLink]="['/marketplace/products', product.id]">Ver</a>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
</div>
