/* ✅ Estilos generales */
body {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

/* Estilo de los títulos fuera del contenedor */
.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #721656;
  font-family: 'Inter', sans-serif;
}

.project-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  background-color: #eae0ef;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(248, 246, 246, 0.1);
  font-family: 'Inter', sans-serif;
}

/* ✅ Estilos para el nombre del proyecto */
.project-card-title {
  color: #D3435B;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Inter', sans-serif;
}

/* ✅ Estilos para la descripción */
.project-description {
  font-size: 1rem;
  color: black; /* Gris oscuro */
  font-family: 'Roboto', sans-serif; /* Cambia la fuente */
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.project-information {
  font-size: 1rem;
  color: black; /* Gris oscuro */
  line-height: 1.5;
}

.pink-button {
  background-color: #d3435b !important;
  color: white !important;
}

.purple-button {
  background-color: #420054 !important;
  color: white !important;
}

.mt-4 {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* Empuja los botones hacia la parte inferior */
}


.project-form {
  flex: 1;
  max-width: 100%;
  background: #f9f5fc !important;
  padding: 1.5rem;
  border-radius: 12px;
  border: 2px solid #a22c58 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Para que todas las tarjetas tengan la misma altura */
}

.project-card {
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.delete-btn {
  background-color: #d32f2f;
  color: white;
}

.ver-button {
  background-color: #5A4995;
  color: white;
  margin-top: 8px;
}
