.navbar {
  background-color: #f7f7f7;
  border-bottom: 4px solid #d3435b;
  padding: 0.2rem 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; // Para el botón de menú
  }

  /* Logo Styling */
  .navbar-logo a {
    font-family: Arnoldboecklin, fantasy;
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
    color: transparent;
    background: linear-gradient(90deg, #5e0e6e, #d31189);
    -webkit-background-clip: text;
    letter-spacing: 0.2em;
    background-clip: text;

    &:hover {
      transform: scale(1.1);
    }
  }

  /* Menu Styling */
  .navbar-menu {
    ul {
      display: flex;
      list-style: none;
      gap: 5rem;
      padding: 0.1rem 2rem;
      margin: 0;
      
      li a {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: #420054;
        text-decoration: none;
        position: relative;
        padding: 0.3rem 0;
        transition: color 0.3s, border-bottom 0.3s;

        &:hover,
        &.active-link {
          color: #d3435b;
        }

        &::after {
          content: '';
          display: block;
          height: 2px;
          background: #d3435b;
          width: 0;
          transition: width 0.3s;
          position: absolute;
          left: 0;
          bottom: -5px;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  /* Auth Menu Styling */
  .auth-menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;

    a {
      font-size: 1.2rem;
      font-weight: 500;
      color: #420054;
      text-decoration: none;
      position: relative;
      padding: 0.3rem 0;
      transition: color 0.3s, border-bottom 0.3s;

      &:hover,
      &.active-link {
        color: #d3435b;
      }

      &::after {
        content: '';
        display: block;
        height: 2px;
        background: #d3435b;
        width: 0;
        transition: width 0.3s;
        position: absolute;
        left: 0;
        bottom: -5px;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  /* Button to toggle menu */
  .menu-toggle {
    display: none; // Ocultar por defecto
    cursor: pointer;
    font-size: 2rem;
    color: #420054;
  }

  /* Responsive Navbar */
  @media (max-width: 768px) {
    .navbar {
      .navbar-container {
        flex-direction: column;
        align-items: center;

        .menu-toggle {
          display: block; // Mostrar el botón de menú
        }

        .navbar-menu {
          display: none; // Ocultar el menú por defecto
          flex-direction: column;
          gap: 1rem;
          padding: 1rem 0; // Espaciado adicional para el menú
        }

        .auth-menu {
          margin-top: 1rem;
        }
      }
    }
  }
}