<div class="main-layout">
  <!-- Header / Navbar -->
  <header class="navbar">
    <div class="navbar-container">
      <h1 class="navbar-logo">
        <a routerLink="/" aria-label="Ir al inicio">Marketplace</a>
      </h1>
      <nav class="navbar-menu">
        <ul>
          <li><a routerLink="/" routerLinkActive="active-link">Inicio</a></li>
          <li><a routerLink="/marketplace/products" routerLinkActive="active-link">Marketplace</a></li>
          <li *ngIf="isAuthenticated">
            <a routerLink="/profile/public/1" routerLinkActive="active-link">Perfil</a>
          </li>
        </ul>
      </nav>
      <div class="auth-menu">
        <!-- Opciones de autenticación -->
        <button *ngIf="!isAuthenticated" routerLink="/auth/login">Log In</button>
        <button *ngIf="!isAuthenticated" routerLink="/auth/register">Sign Up</button>
        <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>

  <!-- Main Content 
  <main class="main-content">
  </main>-->
  <router-outlet></router-outlet>


  <!-- Footer -->
  <footer class="footer">
    <div class="footer-container">
      <p>© 2025 Marketplace. Todos los derechos reservados.</p>
      <nav class="footer-links">
        <a routerLink="/terms" aria-label="Términos y condiciones">Términos</a>
        <a routerLink="/privacy" aria-label="Política de privacidad">Privacidad</a>
        <a routerLink="/contact" aria-label="Contáctanos">Contacto</a>
      </nav>
    </div>
  </footer>
</div>
