.marketplace-container {
  font-family: 'Roboto', sans-serif;

  .hero-section {
    text-align: center;

    .search-input {
      border: none;
      font-size: 1rem;
    }

    .search-button {
      font-weight: bold;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #d3435b;
        color: white;
      }
    }
  }

  .product-results {
    .product-card {
      transition: box-shadow 0.3s ease;
      border-radius: 0.5rem;

      &:hover {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      }

      .product-image {
        border-radius: 0.5rem 0.5rem 0 0;
        object-fit: cover;
      }

      .details-button {
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #d3435b;
          color: white;
        }
      }
    }
  }
}
