/* Estilo cuando el campo de búsqueda está en foco */
.search-input:focus {
  background-color: #5e0e6e; /* Fondo ligeramente más oscuro cuando está en foco */
  color: white; /* Asegúrate de que el texto sea blanco */
  outline: none; /* Elimina el borde por defecto */
}

.marketplace-container {
  font-family: 'Roboto', sans-serif;
}

.hero-section {
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Cambié la fuente aquí */
}

.hero-section .search-input {
  border: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif; /* Cambié la fuente aquí */
}

.hero-section .search-button {
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif; /* Cambié la fuente aquí */
}

.hero-section .search-button:hover {
  background-color: #d3435b;
  color: white;
}

.info-section {
  font-family: 'Poppins', sans-serif; /* Cambié la fuente aquí */
}

.info-section .info-card {
  transition: box-shadow 0.3s ease;
  border-radius: 0.5rem;
}

.info-section .info-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.products-section {
  font-family: 'Poppins', sans-serif; /* Cambié la fuente aquí */
}

.products-section .product-card {
  transition: box-shadow 0.3s ease;
  border-radius: 0.5rem;
}

.products-section .product-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.products-section .product-card .product-image {
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.products-section .product-card .details-button {
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Roboto', sans-serif; /* Cambié la fuente aquí */
}

.products-section .product-card .details-button:hover {
  background-color: #d3435b;
  color: white;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.category-card {
  max-width: 350px;
  text-align: center; /* Centra el contenido */
  transition: transform 0.2s ease;
  font-family: 'Poppins', sans-serif; /* Cambié la fuente aquí */
}

.category-card:hover {
  transform: scale(1.05);
}

mat-card-title, mat-card-actions {
  display: flex;
  justify-content: center; /* Centra los elementos */
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Cambié la fuente aquí */
}

mat-card img {
  width: 500px; 
  height: 250px; 
  object-fit: cover; 
  margin: 0 auto; 
  display: block;
  border-radius: 10px; 
}