:root {
  --primary-color: #D3435B;
  --secondary-color: #721652;
  --link-color: #A22C58;
  --auth-link-color: #420054;
  --button-bg-color: #420054;
  --footer-bg-color: #420054;
 }

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-gray-200 {
  background-color: #f3f4f6;
}

.bg-button {
  background-color: var(--button-bg-color);
  &:hover {
    background-color: #38004a; // manually darkened color
  }
}

.text-auth-link:hover {
  color: var(--primary-color);
}

.rounded-full {
  border-radius: 9999px;
}
