<!-- Hero Section -->
<section class="hero-section relative">
  <video autoplay muted loop class="hero-video">
    <source src="assets/videos/Jisso_Dior.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de videos.
  </video>
  
  <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center relative z-10">
    <div class="md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold mb-4 text-white">
        Contrata a los mejores freelancers para cualquier trabajo, en línea.
      </h1>
      <p class="text-lg mb-8 text-white">
        Descubre el lugar donde empresas y freelancers se unen para hacer realidad grandes proyectos. 
        Publica ofertas, encuentra trabajo y colabora en un entorno seguro y eficiente.
      </p>
      <a class="bg-button text-white px-6 py-3 rounded-full font-semibold" routerLink="/auth/register">
        Empezar
      </a>
    </div>
  </div>
</section>



    <!-- Publish Products Section -->
    <section class="bg-primary text-white py-20">
      <div class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center">
        <div class="md:w-1/2 text-center md:text-left mt-12 md:mt-0">
      <img src="assets\images\jisoo-flower-mv-263-1-k.jpeg" alt="Publica productos" class="p-4" />
        </div>
        <div class="md:w-1/2 text-center md:text-left">
      <h2 class="text-4xl font-bold mb-4">Publica Tus Productos u Ofrece Oportunidades</h2>
      <p class="text-lg mb-8">
        Workado es la plataforma ideal para conectar emprendedores y profesionales. 
        Publica tus productos, servicios o proyectos y encuentra talentos que 
        impulsarán tu negocio. Si buscas oportunidades laborales o deseas ofrecerlas, 
        Workado te conecta con personas que comparten tu visión. ¡Explora, colabora y 
        crece con nosotros!"
      </p>
      <a class="bg-button text-white px-6 py-3 rounded-full font-semibold" routerLink="/project/post" routerLinkActive="active-link">
        Subir Producto
      </a>
        </div>
  </div>
</section>

<!-- Categories Section -->
<section class="py-16 bg-gray-200">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8 text-primary border-b-4 border-primary pb-4">
      Categorías Populares
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <mat-card class="category-card text-center" *ngFor="let category of categories">
        <img mat-card-image [src]="category.imageUrl" alt="{{ category.name }}" class="img-fixed-size">
        <mat-card-title>{{ category.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ category.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/marketplace/search">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>


<!-- Featured Freelancers Section -->
<section class="py-16 bg-gray-200">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8 text-primary border-b-4 border-primary pb-4">
      Freelancers Destacados
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <mat-card class="freelancer-card text-center" *ngFor="let freelancer of freelancers">
        <div class="freelancer-image-container">
          <img [src]="freelancer.imageUrl" alt="{{ freelancer.name }}" class="freelancer-image">
        </div>
        <mat-card-title>{{ freelancer.name }}</mat-card-title>
        <mat-card-subtitle>{{ freelancer.profession }}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="'/profile/public/' + freelancer.id">
            Ver Perfil
          </button>
        </mat-card-actions>
      </mat-card>      
    </div>
  </div>
</section>


<!-- How It Works Section -->
<section class="bg-secondary py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-white mb-8">Cómo Funciona</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="text-center">
        <img src="assets\images\blackpink-shut-down-jisoo-lisa-542-1-i.jpeg" alt="Publica un Trabajo" class="mx-auto mb-4" />
        <h3 class="text-xl font-semibold mb-2 text-white">Publica un Trabajo</h3>
        <p class="text-gray-200">
          Cuéntanos sobre tu proyecto. Workado te ayudará a encontrar el mejor freelancer para el trabajo.
        </p>
      </div>
      <div class="text-center">
        <img src="assets\images\343605-Jisoo-Kim-Ji-soo-BLACKPINK-Kpop-K-pop-Girls-Ice-Cream.jpg" alt="Elige un Freelancer" class="mx-auto mb-4" />
        <h3 class="text-xl font-semibold mb-2 text-white">Elige un Freelancer</h3>
        <p class="text-gray-200">
          Navega por perfiles, reseñas y propuestas, luego entrevista a los mejores candidatos.
        </p>
      </div>
      <div class="text-center">
        <img src="assets\images\343609-BLACKPINK-Kpop-K-pop-Girls-Ice-Cream-Jisoo-Kim-Ji-soo.jpg" alt="Paga de Forma Segura" class="mx-auto mb-4" />
        <h3 class="text-xl font-semibold mb-2 text-white">Paga de Forma Segura</h3>
        <p class="text-gray-200">
          Solo paga por el trabajo cuando se haya completado y estés 100% satisfecho.
        </p>
      </div>
    </div>
  </div>
</section>


